html {
    height: 100vh;
  }
  
  :root {
    --sm: 28.80px;
    --md: 36px;
    --lg: 45px;
    --green: #40826d;
  }
  
  body {
    font-family: 'Quicksand', sans-serif;
  }
  
  img {
    object-fit: contain;
  }
  
  /* Carrousel and nav elements */
  
  .laptop1,
  .laptop2,
  .laptop3,
  .laptop4,
  .laptop5 {
    margin: 1px, solid black;
    height: 100px;
    width: 3
  }
  
  .carrousel-container {
    overflow-x: auto;
    width: 100%;
    max-width: 700px;
    margin: 0 auto;
    white-space: nowrap;
  }
  
  .carrousel {
    display: flex;
  }
  
  .laptop1,
  .laptop2,
  .laptop3,
  .laptop4 {
    padding-right: 60px;
    padding-left: 0;
  }
  
  .carousel-nav {
    display: none; /* Hide the carousel navigation buttons by default for mobile */
  }
  
  nav {
    min-width: 300px;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
  }
  
  /* Styling for larger screens */
  @media (min-width: 768px) {
    .carousel-nav {
      display: block; /* Show the carousel navigation buttons for larger screens */
    }
  }
  
  /* Main */
  
  main {
    margin-bottom: 50px;
    margin-top: 50px;
    min-width: 300px;
    max-width: 1000px; /* Adjust this value as per your needs */
    margin-left: auto;
    margin-right: auto;
    padding: 0 20px; /* Add padding on the left and right sides */
  }
  
  .laptop-img > img {
    object-fit: fill;
    padding-right: 40px;
  }
  
  h1 {
    font-size: var(--lg);
    margin-top: 30px;
  }
  
  .price {
    font-size: 40px;
  }
  
  .description {
    font-size: var(--sm);
  }
  
  #coupon-code {
    width: 55%;
    height: 30px;
    border: 1px solid gray;
    border-radius: 10px;
    padding-left: 20px;
    font-size: var(--sm);
  }
  
  #calculate {
    width: 100px;
    height: 36px;
    border: 0;
    font-size: 20px;
    border-radius: 0 20px 20px 0;
    position: relative;
    left: -20px;
    top: -3px;
    background-color: #40826d;
    color: white;
  }
  
  #buy {
    margin-top: 20px;
    width: 150px;
    height: 50px;
    background-color: rgb(255, 162, 0);
    border: 0;
    font-size: 30px;
    border-radius: 10px;
    color: black;
  }
  
  /* Hidden elements */
  
  #price {
    font-size: 40px;
  }
  
  #result {
    font-size: var(--md)
  }
  
  h2 {
    top: 30px;
  }
  